#why-view {
  width: 100%;
  height: 100vh;

  background-color: #323f4b;

  #highlight {
    color: #fa685f;
  }

  #why-view-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #why-view-title {
      align-self: baseline;
      margin-top: 5vh;
      margin-left: 5%;

      > h1 {
        margin-bottom: 16px;
        font-family: "Overpass";
        font-weight: bold;
        font-size: 64px;
        line-height: 98px;

        color: #fadb5f;
      }

      > p {
        margin: 0;

        font-family: "Exo 2";
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;

        color: #81defd;
      }
    }

    #divider {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 100%;
      height: 60vh;
      background-image: url("../../../public/assets/svg/page-divider.svg");
      background-repeat: no-repeat;
      background-size: cover;

      > .bullet-points {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        margin-left: 48px;
        width: 90%;

        img {
          overflow: hidden;
          align-self: center;

          margin-right: 12px;

          height: 48px;
          width: 48px;
        }

        p {
          font-family: "Exo 2";
          font-size: 30px;

          color: #e3f8ff;
        }

        .long-paragraph {
          width: 800px;
        }
      }
    }
  }
}
